#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.links {
  width: 100%;
  height: 50px;
  padding: 0px;
  margin: 0px;
  background-color: rgb(192, 17, 211);
}

.links ul{
  width: 1300px;
  padding: 0px;
  height: 50px;
  display: inline-flex;
  margin: 0px;
  color: white;
}

.links ul li{
  padding: 5px;
  width: 100px;
  height: 50px;
  list-style: none;
  text-decoration: none;
  color: rgb(249, 249, 249);
  font-weight: bold;

}

.links ul li a{
  text-decoration: none;
  color: rgb(249, 249, 249);
  padding-top: 15px;
  vertical-align: middle;

}